######################
# Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log.*


######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/

######################
# Mac OSX
######################
.DS_Store